
header{
	background-color: #000;
	color:#fff;
	margin: 0 0 10% 0;
}

header h1{
	border: 2px solid #fff;
	font-size: 1.6em;
}

header p:nth-child(2) {
	font-size: 2.5em;
}

body {
    margin:0 auto;
    width: 55%;
    text-align:center;
    border: 1px solid black;
}

h1, header p, h2 {
	text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;	
}

.services section{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

.services section h2{
	font-size: 1em;
}

.about section{
	padding: 1%;
	border: 1px solid black;

}
.about section h2{
	font-size: 1em;
	border: 1px solid black;
}

.about section h3{
	font-size: 2em;
	text-transform: uppercase;
	border: 1px solid black;
}


article section{
	display: inline-block;
	width: 45%;
	border: 1px solid black;
}
.testimonials section{
	padding: 1%;
	border: 1px solid black;

}
.testimonials section h2{
	font-size: 2em;
	border: 1px solid black;
}

.testimonials section h3{
	font-size: 1.4em;
	text-transform: uppercase;
	border: 1px solid black;
}

@media only screen and (max-width: 1024px) {
.services section{
	display: block;
	margin: 0 auto;
	width: 90%;
}
